#!/usr/bin/env xdg-open
[Desktop Entry]
Name=OpenCV
GenericName=Demo App
Icon=/usr/share/matrix-gui-2.0/apps/images/forlinx/opencv-icon.png
Exec=/usr/bin/cmd/fltest_Sobel
Type=Application
ProgramType=gui
Name[en_US]=opencv.desktop
